# Data Structures

What you will learn in this lesson:

- Lists
- Dictionaries
- Tuples
- Sets
- Ranges

In contrast to primitive data types (e.g. integers, floats and booleans), data structures organize types into structures that have certain properties, such as **order**, **mutability**, and **addressing scheme**, e.g. by index.

## Lists

A list is an ordered sequence of items.

Each element of a list is associated with an integer that represents the order in which the element appears.

Lists are indexed with **brackets** `[]`.

List elements are accessed by providing their order number in the brackets.

Lists are **mutable**, meaning you can modify them after they have been created.

They can contain mixed types.

### Constructing a list

They can be **constructed** in several ways:

In [1]:
list1 = [] # empty list
list2 = list(()) # Also an empty list
list3 = "some string".split()
numbers = [1,2,3,4] # a list of integers

print(list1)
print(list2)
print(list3)
print(numbers)

[]
[]
['some', 'string']
[1, 2, 3, 4]

In [2]:
# List can contain mixed types
myList = ['coconuts', 777, 7.25, 'Sir Robin', 80.0, True]
myList

['coconuts', 777, 7.25, 'Sir Robin', 80.0, True]

### Practice exercise

```{exercise}
:label: structures1

Using some of the previous methods, construct a list containing your numerical birth month, the first letter of your name, & a boolean to the question: I like coffee.
```

In [3]:
# Start your answers here

### Indexing

<div class="alert alert-info">
    <b>Info</b>: Indexing a list is similar to indexing a string.
</div>

In [4]:
numbers = [1,2,3,4,5,6]

In [5]:
numbers[0] # Access first element (output: 1)

1

In [6]:
numbers[0] + numbers[3] # doing arithmetic with the elements of the list (output: 5)

5

In [7]:
# Like with strings, we can get the number of elements of the list with the function len()
len(numbers)

6

In [8]:
numbers[:2] # returns 1 (index 0) to 2 (index 2 minus 1)

[1, 2]

In [9]:
numbers[-2:] # returns 3 (4 minus 2 = index 2) to 4 (4 minus 1 = index 3)

[5, 6]

In [10]:
# Returns the last element (see strings lesson)
numbers[-1:]

[6]

You can find the index of an element by using the method `index`

In [11]:
numbers.index(3)

2

### Practice exercise

```{exercise}
:label: structures2

Apply indexing to the list in the first practice excercise to pull out your numerical birth month.
```

In [12]:
# Start your answers here

### Slicing

<div class="alert alert-info">
    <b>Info</b>: Slicing a list is similar to indexing a strings.
</div>

In [13]:
numbers[0:2] # Output: [1, 2]

[1, 2]

In [14]:
numbers[1:3] # Output: [2, 3]

[2, 3]

In [15]:
numbers[2:]  # Output: [3, 4]

[3, 4, 5, 6]

### Practice exercise

```{exercise}
:label: structures3

Slice the list in the first practice exercise using a method from above. For more see https://www.learnbyexample.org/python-list-slicing/

```

In [16]:
# Start your answers here

### Operations on lists

<div class="alert alert-info">
    <b>Info</b>: Operators <code>*</code> and <code>+</code> work similarly as with strings
</div>

In [17]:
# This yields list repeated 2 times
numbers * 2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### Practice exercise

```{exercise}
:label: structures4

Multiply the list in the first practice exercise  by a given scalar.

```

In [18]:
# This concatenates two lists
numbers2 = [30, 40, 50]
numbers + numbers2

[1, 2, 3, 4, 5, 6, 30, 40, 50]

### Practice exercise

```{exercise}
:label: structures5

Add  "numbers" to the list in the first practice exercise.

```

In [19]:
# Start your answers here

### Some notes

- <div class="alert alert-danger">
    <b>Alert</b>: We can not directly multiply lists.
</div>

In [20]:
# This is not allowed
myList * myList

TypeError: can't multiply sequence by non-int of type 'list'

- <div class="alert alert-info">
    <b>Info</b>: Lists can be nested.
</div>

In [21]:
names = ['Darrell', 'Clayton', ['Billie', 'Arthur'], 'Samantha']
print(names[2]) # returns a *list*
print(names[0]) # returns a *string*

['Billie', 'Arthur']
Darrell

### Mutability

Lists are **mutable**!

In [22]:
print(f"(Before) First name in names: {names[0]}")

names[0] = "Clint"

print(f"(After) First name in names: {names[0]}")

(Before) First name in names: Darrell
(After) First name in names: Clint

## Dictionaries 

Dictionaries are like hash tables, containing key-value pairs.

Elements are indexed using brackets `[]` (like lists).

But Dictionaries are constructed using braces `{}` or `dict()`.

Key names must be unique. If you re-use a key, you overwrite its value.

Keys don't have to be strings -- they can be numbers or tuples or expressions that evaluate to one of these.

### Constructing a dictionary

In [23]:
dictionary1 = {
    'a': 1,
    'b': 2,
    'c': 3
}

In [24]:
dictionary2 = dict(x=55, y=29, z=99) # Note the absence of quotes around keys

In [25]:
dictionary2

{'x': 55, 'y': 29, 'z': 99}

In [26]:
dictionary3 = {'A': 'foo', 
               99: 'bar', # Note that the key now is number 
               (1,2): 'baz' # Note that the key now is now a tuple (see below)
              }

In [27]:
dictionary3

{'A': 'foo', 99: 'bar', (1, 2): 'baz'}

### Retrieve a value

Just pass the key as the *index* in the brackets.

In [28]:
phonelist = {'Tom':123, 'Bob':456, 'Sam':897}

In [29]:
phonelist['Bob']

456

or use the method `get`:

In [30]:
phonelist.get('Bob')

456

### Some methods

`keys`: Provides the keys of a dictionary. **Keys are not sorted. They print in the order entered.**

In [31]:
phonelist.keys() # Returns a list

dict_keys(['Tom', 'Bob', 'Sam'])

`values`: Provides the values of a dictionary.

In [32]:
phonelist.values() # Returns a list

dict_values([123, 456, 897])

`items`: Provides both the keys and values of a dictionary.

In [33]:
phonelist.items() # Returns a list of tuples

dict_items([('Tom', 123), ('Bob', 456), ('Sam', 897)])

These methods are handy when using **For** loops (next week).

In [34]:
for key in sorted(phonelist.keys()):
    print(key)

Bob
Sam
Tom

<div class="alert alert-info">
    <b>Info</b>: We can use <code>len</code> and <code>in</code> with Dictionaries.
</div>

In [35]:
len(phonelist)

3

In [36]:
# If we use the name of the list with `in` in checks the keys
"Bob" in phonelist

True

In [37]:
# Therefore, if we check a particular value in this way it will return a False
123 in phonelist

False

In [38]:
# We have to specify that we want to check the values of the dictionary
123 in phonelist.values()

True

## Tuples

A tuple is like a list but with one big difference: **a tuple is an immutable object!** That is, you can't change a tuple once it's created.

A tuple can contain any number of elements of any datatype.

Accessed with brackets `[]` but constructed with or without parentheses `()`.

In [39]:
# We saw lists are mutable

print(numbers)
numbers[3] = 30
print(numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 30, 5, 6]

In [40]:
# But, tuples are immutable
numbers4 = (26, 27, 28)
numbers4[2] = 30

TypeError: 'tuple' object does not support item assignment

### Constructing

Created with comma-separated values, with or without parentheses.

In [41]:
letters = 'a', 'b', 'c', 'd'
letters

('a', 'b', 'c', 'd')

In [42]:
type(letters)

tuple

In [43]:
numbers = (1,2,3,4) # numbers 1,2,3,4 stored in a tuple
numbers

(1, 2, 3, 4)

In [44]:
type(numbers)

tuple

A single valued tuple must include a comma `,`, e.g.

In [45]:
# If we miss the comma with a single valued tuple, it is not a tuple
tuple0 = (29)
type(tuple0)

int

In [46]:
# comma included
tuple1 = (29,)

type(tuple1)

tuple

<div class="alert alert-info">
    <b>Info</b>: Indexing and slicing is similar to lists and strings.
</div>

In [47]:
numbers[2]

3

In [48]:
numbers[:3]

(1, 2, 3)

<div class="alert alert-info">
    <b>Info</b>: We can also use <code>len</code> and <code>in</code> with Tuples.
</div>

In [49]:
len(numbers)

4

In [50]:
10 in numbers

False

## Sets

A `set` is an **unordered** collection of **unique** objects.

They are subject to set operations.

In [51]:
peanuts = {'snoopy','snoopy','woodstock'}

In [52]:
# Sets only keeps unique objects
peanuts

{'snoopy', 'woodstock'}

Since sets are unordered, they don't have an index. This will break:

In [53]:
peanuts[0]

TypeError: 'set' object is not subscriptable

In [54]:
for peanut in peanuts:
    print(peanut)

snoopy
woodstock

<div class="alert alert-info">
    <b>Alert</b>: We can use <code>len</code> and <code>in</code> with Sets.
</div>

In [55]:
len(peanuts)

2

In [56]:
'snoopy' in peanuts

True

### Some useful methods

- `union`: To combine two sets!

In [57]:
set1 = {'python','R'}
set2 = {'R','SQL'}

In [58]:
set1.union(set2)

{'R', 'SQL', 'python'}

<div class="alert alert-danger">
    <b>Alert</b>: Sets can not be combined with the `+` operator as they are unordered.
</div>

In [59]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

- `intersection`: Get the set intersection:

In [60]:
set1.intersection(set2)

{'R'}

For this operation you can also use the symbol `&`

In [61]:
set1 & set2

{'R'}

- `difference`: It returns the different elements of the left-hand set with respect to the right-hand one

In [62]:
set1.difference(set2)

{'python'}

In [63]:
set2.difference(set1)

{'SQL'}

## Ranges

A range is a sequence of integers, from `start` to `stop` by `step`.
- The `start` point is zero by default.  
- The `stop` point is NOT included. Like when slicing strings and lists, the last index of the sequence corresponds to stop-1.
- The `step` is one by default.

Ranges can be assigned to a variable.

In [64]:
rng = range(5)
rng

range(0, 5)

More often, ranges are used in iterations (e.g. **For** loops), which we will cover later.

In [65]:
for rn in rng:
    print(rn)

0
1
2
3
4

another range:

In [66]:
rangy = range(1, 11, 2)
for rn in rangy:
    print(rn)

1
3
5
7
9

## Summary

Throughout this lesson, we have mentioned what operations, functions and features each data structure is characterized by. Here is compact summary:

| Data Structure   | Supports Indexing? | Supports Slicing? | `len()` | `in`   | Concatenation (`+`) | Multiplication (`*`) | Mutable?  |
| ---------------- | -------- | ------- | ------- | ------ | ------------------- | -------------------- | --------- |
| **Strings**      | Yes      | Yes     | Yes     | Yes    | Yes                 | Yes                  | No        |
| **Lists**        | Yes      | Yes     | Yes     | Yes    | Yes                 | Yes                  | Yes       |
| **Tuples**       | Yes      | Yes     | Yes     | Yes    | Yes                 | Yes                  | No        |
| **Sets**         | No       | No      | Yes     | Yes    | No                  | No                   | Yes       |
| **Dictionaries** | No       | No      | Yes     | Yes    | No                  | No                   | Yes       |
| **Ranges**       | Yes      | Yes     | Yes     | Yes    | No                  | No                   | No        |

### Practice exercise
```{exercise}
:label: structures6

List one important attribute of list, dictionary, and tuple

```

In [67]:
# Start your answers here